<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.howwrite.luckyrabbit.domain.mapper.UserMapper">
    <resultMap type="com.github.howwrite.luckyrabbit.domain.dataobject.UserDO" id="ResultMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="prefix" column="prefix" jdbcType="VARCHAR"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="BIGINT"/>
        <result property="deletedTime" column="deleted_time" jdbcType="BIGINT"/>
        <result property="createdTime" column="created_time" jdbcType="BIGINT"/>
        <result property="updatedTime" column="updated_time" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="baseColumn">
        id,prefix,mobile,`password`,nickname,deleted,deleted_time,created_time,updated_time
    </sql>

    <sql id="tb">
        `user`
    </sql>

    <sql id="criteria">
        <where>
            deleted = 0
            <if test="id != null">and id = #{id}</if>
            <if test="prefix != null">and prefix = #{prefix}</if>
            <if test="mobile != null">and mobile = #{mobile}</if>
            <if test="nickname != null">and nickname = #{nickname}</if>
        </where>
    </sql>

    <sql id="insertColumn">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="prefix != null">
                `prefix`,
            </if>
            <if test="mobile != null">
                `mobile`,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="nickname != null">
                `nickname`,
            </if>
            `created_time`,`updated_time`
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="prefix != null">
                #{prefix},
            </if>
            <if test="mobile != null">
                #{mobile},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="nickname != null">
                #{nickname},
            </if>
            UNIX_TIMESTAMP(),UNIX_TIMESTAMP()
        </trim>
    </sql>

    <select id="get" resultMap="ResultMap"
            parameterType="com.github.howwrite.luckyrabbit.domain.queryobject.UserQueryParam">
        select
        <include refid="baseColumn"/>
        from
        <include refid="tb"/>
        <include refid="criteria"/>
        limit 1
    </select>

    <select id="list" resultMap="ResultMap"
            parameterType="com.github.howwrite.luckyrabbit.domain.queryobject.UserQueryParam">
        select
        <include refid="baseColumn"/>
        from
        <include refid="tb"/>
        <include refid="criteria"/>
    </select>
    <select id="findByMobile" resultMap="ResultMap">
        select
        <include refid="baseColumn"/>
        from
        <include refid="tb"/>
        where `prefix` = #{param1} and `mobile` = #{param2} limit 1
    </select>

    <insert id="insert" parameterType="com.github.howwrite.luckyrabbit.domain.dataobject.UserDO"
            useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        insert into
        <include refid="tb"/>
        <include refid="insertColumn"/>
    </insert>

    <select id="page" resultMap="ResultMap"
            parameterType="com.github.howwrite.luckyrabbit.domain.queryobject.UserQueryParam">
        select
        <include refid="baseColumn"/>
        from
        <include refid="tb"/>
        <include refid="criteria"/>
        ORDER BY id DESC
    </select>
</mapper>